<!-- views/home/welcome.ejs -->

<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head') %>
    </head>
    <body>
        <%- include('../partials/nav') %>
        <div class="container basicw py-4">
            <div class="jumbotron">
                <h1 class="display-1">Welcome!</h1>
                <iframe src="https://giphy.com/embed/11JTxkrmq4bGE0" width="240" height="369" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                <p>node.js에 대해 공부중입니다:)</p>
                <p> ■ 추가예정</p>
                <p> - 로그인 기능</p>
                <p> - 댓글 기능</p>
            </div>
        </div>
    </body>
</html>